[submodule "LibSL-small"]
	path = LibSL-small
	url = git@github.com:sylefeb/LibSL-small.git
[submodule "eigen-git-mirror"]
	path = eigen-git-mirror
	url = https://github.com/eigenteam/eigen-git-mirror.git
